<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Primers</title>
</head>
<body>
    <p align="right"><a href="/primerdatabase/">Home</a>&nbsp;<a href="/primerdatabase/logout/">Logout</a></p>
    <h1>Primer database search</h1>
    <p>Enter a gene name and click 'Search'.</p>
    {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    <p>Genes currently in database:</p>
        <ul>
            {% for gene in genes %}
            <li><span>{{ gene.gene }}</span></li>
            {% endfor %}
        </ul>
    <style type="text/css" scoped>
        h1{
            font-family: Cambria;
            border-bottom: 5px solid;
            border-color: #C2DFFF;
        }
        p{
            font-family: Cambria;
        }
        ul{
            font-family: Cambria;
            list-style-type: square;
        }
        li{
            color: #4863A0;
        }
        li span{
            color: black;
        }
    </style>
</body>
</html>