<!DOCTYPE html>
{% load render_table from django_tables2 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNP Results</title>
</head>
<body>
    <p align="right">
        <a href="/primerdatabase/">Home</a>&nbsp;<a href="/primerdatabase/logout/">Logout</a>
    </p>
    <h1 style="font-family: Cambria">SNP results</h1>
    {% if snps %}
        <!--Need to specify ".rows" to iterate through table-->
        <p style="font-family: Cambria">Found {{ snps.rows|length }} SNP{{ snps.rows|pluralize }} in this primer.</p>
        <style type="text/css" scoped>
            table{
                width: 100%;
                font-family: Calibri;
                border: 1px solid;
                border-color:#4863A0;
                border-collapse: collapse;
            }
            table td{
                border: 1px solid;
                border-color:#4863A0;
            }
            table th{
                border: 1px solid;
                border-color:#4863A0;
            }
        </style>
        <table>
            <tr>
                <th bgcolor="#4863A0" style="color:#FFFFFF"><b>SNP Check Build</b></th>
                <th bgcolor="#4863A0" style="color:#FFFFFF"><b>dbSNP rs number</b></th>
                <th bgcolor="#4863A0" style="color:#FFFFFF"><b>HGVS</b></th>
                <th bgcolor="#4863A0" style="color:#FFFFFF"><b>Frequency Data</b></th>
                <th bgcolor="#4863A0" style="color:#FFFFFF"><b>ss refs</b></th>
                <th bgcolor="#4863A0" style="color:#FFFFFF"><b>Projects creating ss refs</b></th>
                <th bgcolor="#4863A0" style="color:#FFFFFF"><b>Other Info</b></th>
                <th bgcolor="#4863A0" style="color:#FFFFFF"><b>Action To Be Taken</b></th>
                <th bgcolor="#4863A0" style="color:#FFFFFF"><b>Checked by</b></th>
            </tr>
            {% for row in snps.rows %}
            <tr>
                <td align="center">{{ row.snp_check }}</td>
                <td align="center">{{ row.rs }}</td>
                <td align="center">{{ row.hgvs }}</td>
                <td align="center">{{ row.freq }}</td>
                <td align="center">{{ row.ss }}</td>
                <td align="center">{{ row.ss_proj }}</td>
                <td align="center">{{ row.other2 }}</td>
                <td align="center">{{ row.action_to_take }}</td>
                <td align="center">{{ row.check_by }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>No primers matched your search criteria.</p>
    {% endif %}
</body>
</html>